.apply .name1 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 200% */
  text-transform: capitalize;
}

.apply .name2 {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 200% */
  text-transform: capitalize;
}

.apply .input {
  border-radius: 6px;
  background: #f5f5f5;
}

.apply .css-13cymwt-control {
  height: 50px;
  width: 518px;
  border-radius: 6px;
  background: #f5f5f5;
}

.apply .css-t3ipsp-control {
  height: 50px;
  width: 518px;
  border-radius: 6px;
  background: #f5f5f5;
}

.apply .label {
  color: #211f1f;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
